@use "../base/variables" as v;

.error {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
}

.error-body {
  padding: 16px;
  box-shadow: 0 0 8px 0 rgba(26, 26, 26, .05);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    padding: 8px 16px;
    color: var(--light);
    border: 1px solid var(--link);
    background-color: var(--link);
    border-radius: 8px;

    &:hover {
      color: var(--link);
      background-color: rgba(0,113,227,.05);
    }
  }
}